.splitter{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--very-light-grayish-cyan);
  padding: 2rem;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  flex: 1 1 auto;
}

.form{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  flex: 1 1 auto;
}

.total-tip{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-radius: 16px;
  background-color: var(--very-dark-cyan);
  padding: 1rem;
  margin-top: 2rem;
  flex: 1 1 auto;
}

@media (min-width: 1024px) {
  .splitter{
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    width: 70%;
    flex: 0 0 0;
  }
  
  .form{
    flex-direction: row;
  }
  
  .inputs{
    width: 100%;
  }
}

@media (min-width: 1440px) {
  .inputs{
    width: 50%;
  }

  .total-tip{
    width: 45%;
    margin-left: 2rem;
    margin-top: 0;
  }
}